.extension-twitch-auto-claimer-body {
  background: linear-gradient(45deg, #091309, #170f25, #091309);
  background-size: 1000% 1000%;
  animation: gradientAnimation 20s ease infinite;
  backdrop-filter: blur(10px);
  width: 450px;
  padding: 20px;
  margin: 0px;
  padding-bottom: 0px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.header {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 10px; */
  padding-bottom: 10px;
}

.on-off-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #000000; */
  width: 90%;
}

.extension-state {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6441a5;
}

.state {
  background-color: #6be06b;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}



.text {
  color: white;
}

.containerTwitchAutoClicker {
  /* z-index: 10; */
  background-color: transparent;
  max-height: 175px;
  overflow: auto;
}

.containerTwitchAutoClicker::-webkit-scrollbar {
  width: 6px; /* Larghezza della scrollbar */
  border-radius: 8px; /* Border-radius della scrollbar */
}

.containerTwitchAutoClicker::-webkit-scrollbar-thumb {
  background-color: #6441a5; /* Colore della thumb */
  border-radius: 8px; /* Border-radius della thumb */
}

.containerTwitchAutoClicker::-webkit-scrollbar-track {
  background-color: #00000065; /* Colore del track */
  border-radius: 8px; /* Border-radius del track */
}

.toggleOnOff {
  width: 80px;
  height: 80px;
  background: linear-gradient(45deg, #000000, #3b2761, #000000);
  color: #6441a5;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th {
  white-space: nowrap; /* Evita il riavvolgimento del testo */
}

.user-table td {
  
  /* padding: 4px;
  padding-left: 15px;
  padding-right: 15px; */
  white-space: nowrap; /* Evita il riavvolgimento del testo */
}

.reorder-button, .remove-button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}

.reorder-button {
  background-color: #6441a5;
  color: white;
}

.remove-button {
  background-color: rgb(165, 0, 0);
  color: white;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.98;
}

.user-name {
  color: #6441a5;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}

.click-count {
  color: #6441a5;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

#footer {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  background: linear-gradient(45deg, #6441a5CC, #6441a5);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

